<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block title %}
    <title>Манга</title>
    {% endblock %}
</head>
<body>
<header>

</header>
{% block main %}
<main>
    <div class="card" style="background-color: rgb(175, 238, 238);">
  <div class="card-body">
   Первая арка манги повествует о борьбе с Тёмным Королевством и включает в себя акты 1-13 в первом издании
      и акты 1-14 в последующих изданиях. В конце последнего акта начинается вторая арка.
      На первой арке основаны первый сезон аниме 1992 года, игровой телесериал и первый сезон аниме 2014 года.
        <ul>
                     Главы:
                    <li>
                        Акт 1 Усаги — Сейлор Мун
                    </li>
                    <li>
                        Акт 2 Ами — Сейлор Меркурий
                    </li>
                    <li>
                        Акт 3 Рэй — Сейлор Марс
                    </li>
                    <li>
                        Акт 4 Бал-маскарад
                    </li>
                    <li>
                        Акт 5 Макото — Сейлор Юпитер
                    </li>
                    <li>
                        Акт 6 Таксидо Камен — Такседо Маск
                    </li>
                        <li>
                        Акт 7 Мамору Чиба — Такседо Маск
                    </li>
                    <li>
                        Акт 8 Минако — Сейлор Ви
                    </li>
                    <li>
                        Акт 9 Серенити — Принцесса
                    </li>
                    <li>
                        Акт 10 Луна
                    </li>
                    <li>
                        Акт 11 Новая встреча — Эндимион
                    </li>
                    <li>
                        Акт 12 Враг — королева Металия (Ранее — конец Акт 11 Новая встреча...)
                    </li>
                        <li>
                        Акт 13 Решающая битва — Реинкарнация
                    </li>
                    <li>
                        Акт 14 Конец и начало — Маленький незнакомец
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m1.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m11.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m111.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
  <div class="card-body">
    Вторая арка повествует о борьбе с Семейством Чёрной Луны и включает акты 13-23 в первом издании
      и акты 14-26 в последующих изданиях. На ней основаны второй сезон аниме 1992 года
      и второй сезон аниме 2014 года.
                <ul>
                     Главы:
                    <li>
                        Акт 14 Конец и начало — Маленький незнакомец
                    </li>
                    <li>
                        Акт 15 Проникновение — Сейлор Марс
                    </li>
                    <li>
                        Акт 16 Похищение — Сейлор Меркурий
                    </li>
                    <li>
                        Акт 17 Тайна — Сейлор Юпитер
                    </li>
                    <li>
                        Акт 18 Вторжение — Сейлор Венера
                    </li>
                    <li>
                        Акт 19 Искажение времени — Сейлор Плутон
                    </li>
                        <li>
                        Акт 20 Хрустальный Токио — Король Эндимион
                    </li>
                    <li>
                        Акт. 21 Осложнение — Немезида (Ранее — начало Акт 20 Немезида — Осложнение)
                    </li>
                    <li>
                        Акт. 22 Ожидания — Немезида (Ранее — конец Акт 20 Немезида — Осложнение)
                    </li>
                    <li>
                        Акт. 23 Тайные манёвры — Мудрец
                    </li>
                    <li>
                        Акт. 24 Наступление — Чёрная Леди
                    </li>
                    <li>
                        Акт. 25 Противостояние — Призрак Смерти (Ранее — начало Акт. 23 Возрождение...)
                    </li>
                        <li>
                        Акт. 26 Возрождение — Без конца (Ранее — конец Акт. 23 Возрождение...)
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m2.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m22.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m222.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Третья арка повествует о борьбе с Апостолами Смерти и включает акты 24-33 в первом издании
        и акты 27-38 в последующих изданиях. На ней основаны третий сезон аниме 1992 года и третий сезон аниме 2014 года.
                <ul>
                     Главы:
                    <li>
                        Акт 27 Бесконечность 1 Предчувствие
                    </li>
                    <li>
                        Акт 28 Бесконечность 2 Круги на воде
                    </li>
                    <li>
                        Акт 29 Бесконечность 3 Двое — Новые воительницы
                    </li>
                    <li>
                        Акт 30 Бесконечность 4 Сейлор Уран — Харука Тэно, Сейлор Нептун — Мичиру Кайо
                    </li>
                    <li>
                        Акт 31 Бесконечность 5 Сейлор Плутон — Сецуна Мэйо
                    </li>
                    <li>
                        Акт 32 Бесконечность 6 Три воительницы
                    </li>
                        <li>
                        Акт 33 Бесконечность 7 Превращение — Супер Сейлор Мун
                    </li>
                    <li>
                        Акт 34
                    </li>
                    <li>
                        Акт 35
                    </li>
                    <li>
                        Акт 36 (Ранее — начало Акт 33)
                    </li>
                    <li>
                        Акт 37 (Ранее — середина Акт 33)
                    </li>
                    <li>
                        Акт 38 (Ранее — конец Акт 33 и начало Акт 34)
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m3.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m33.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m333.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Четвёртая арка повествует о борьбе с Цирком Мёртвой Луны и включает акты 34-42
        в первом издании и акты 39-49 в последующих изданиях.
        На ней основан четвертый сезон аниме 1992 года и фильм "Вечная Сейлор Мун".
                <ul>
                     Главы:
                    <li>
                        Акт 39 (Ранее — середина и конец Акт 34)
                    </li>
                    <li>
                       Акт 40
                    </li>
                    <li>
                        Акт 41
                    </li>
                    <li>
                        Акт 42
                    </li>
                    <li>
                        Акт 43
                    </li>
                    <li>
                        Акт 44 (Ранее — начало Акт 39)
                    </li>
                        <li>
                        Акт 45 (Ранее — конец Акт 39)
                    </li>
                    <li>
                        Акт 46
                    </li>
                    <li>
                        Акт 47 (Ранее — начало Акт 41)
                    </li>
                    <li>
                        Акт 48 (Ранее — конец Акт 41)
                    </li>
                    <li>
                        Акт 49
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m4.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m44.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m444.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Пятая арка повествует о борьбе с Теневой Галактикой
        и включает акты 43-52 в первом издании и акты 50-60
        в последующих изданиях. На ней основан пятый сезон аниме 1992 года и фильм "Сейлор Мун Космос"
                    <ul>
                     Главы:
                    <li>
                        Акт 50 Звёзды 1
                    </li>
                    <li>
                       Акт 51 Звёзды 2
                    </li>
                    <li>
                        Акт 52 Звёзды 3 (Ранее — начало Акт 45 Звёзды 3)
                    </li>
                    <li>
                        Акт 53 Звёзды 4 (Ранее — конец Акт 45 Звёзды 3)
                    </li>
                    <li>
                        Акт 54 Звёзды 5
                    </li>
                    <li>
                        Акт 55 Звёзды 6
                    </li>
                        <li>
                        Акт 56 Звёзды 7
                    </li>
                    <li>
                        Акт 57 Звёзды 8
                    </li>
                    <li>
                        Акт 58 Звёзды 9
                    </li>
                    <li>
                        Акт 59 Звёзды 10
                    </li>
                    <li>
                        Акт 60 Звёзды 11
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m5.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m55.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/m555.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
</main>
{% endblock %}
