<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block title %}
    <title>Аниме-адаптация</title>
    {% endblock %}
</head>
<body>
<header>
</header>
{% block main %}
<main>
    <div class="card" style="background-color: rgb(175, 238, 238);">
  <div class="card-body">
    Sailor Moon — это первый сезон первого аниме серии Сейлор Мун.
      Включает в себя эпизоды 1-46 и называется так же, как и аниме в целом — «Прекрасная воительница Сейлор Мун»
      (яп. 美少女戦士セーラームーン бисё:дзё сэнси сэ:ра: му:н). Иногда, чтобы указать, что имеется в виду именно первый сезон,
      его называют «Sailor Moon Classic».
       <ol>
                     Антагонисты:
                    <li>
                        Королева Берилл
                    </li>
                    <li>
                        Джедайт
                    </li>
                    <li>
                        Нефрит
                    </li>
                    <li>
                        Зойсайт
                    </li>
                    <li>
                        Кунсайт
                    </li>
                    <li>
                        Королева Металлия
                    </li>
                </ol>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s1.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s11.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s111.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
  <div class="card-body">
    Sailor Moon R (美少女戦士セーラームーン R бисё:дзё сэнси сэ:ра: му:н а:ру) — второй сезон первого
      аниме-сериала «Сейлор Мун». Включает в себя эпизоды 47-89. Данный сезон включает в себя две истории:
      про Дерево Мира Духов (Дерево Тёмного Мира) и про Хрустальный Токио и войну с Немезисом.

                <ul>
                     Антагонисты:
                    <li>
                        Анна
                    </li>
                    <li>
                        Эйл
                    </li>
                    <li>
                        Коан
                    </li>
                    <li>
                       Берте
                    </li>
                    <li>
                        Калаверас
                    </li>
                    <li>
                        Петц
                    </li>
                    <li>
                        Рубеус
                    </li>
                    <li>
                        Изумруд
                    </li>
                    <li>
                        Сапфир
                    </li>
                    <li>
                       Алмаз
                    </li>
                    <li>
                        Мудрец
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/2.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/22.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/222.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Sailor Moon S (美少女戦士セーラームーン S бисё:дзё сэнси сэ:ра: му:н сю:па) — третий сезон первого аниме-сериала «Сейлор Мун».
          Содержит серии 90-127. В русском переводе 2x2 назывался: «Сейлор Мун Супер-воин». История о пяти Сейлор Воинах и главной
          героини Усаги Цукино. Девочки продолжают сражаться за любовь и справедливость.
                <ul>
                     Антагонисты:
                    <li>
                        Каоринайт
                    </li>
                    <li>
                        Профессор Томоэ
                    </li>
                    <li>
                        Юджиал
                    </li>
                    <li>
                       Мимет
                    </li>
                    <li>
                        Бириюи
                    </li>
                    <li>
                        Теллу
                    </li>
                    <li>
                        Сайприн
                    </li>
                    <li>
                        Птирол
                    </li>
                    <li>
                        Мессия Безмолвия
                    </li>
                    <li>
                       Фараон 90
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s3.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s33.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s333.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Sailor Moon SuperS - 4-й сезон аниме-сериала Sailor Moon.
        Девочки продолжают свою священную борьбу за любовь, справедливость, чистые сердца и мечты людей.
                <ul>
                     Антагонисты:
                    <li>
                        Циркония
                    </li>
                    <li>
                        Тигровый Глаз
                    </li>
                    <li>
                        Ястребиный Глаз
                    </li>
                    <li>
                       Рыбий Глаз
                    </li>
                    <li>
                        Нехеления
                    </li>
                    <li>
                        <ol>
                            Квартет:
                            <li>
                            Цере-Цере
                        </li>
                            <li>
                            Пала-Пала
                         </li>
                            <li>
                            Юн-Юн
                            </li>
                        <li>
                            Вес-Вес
                        </li>
                        </ol>
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s4.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s44.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s444.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
    <div class="card" style="background-color: rgb(175, 238, 238);">
    <div class="card-body">
     Sailor Moon Sailor Stars - 5-й сезон анимационного аниме-сериала Sailor Moon.
        Является последним сезоном сериала и окончанием истории главных персонажей.
                    <ul>
                     Антагонисты:
                    <li>
                        Королева Нехеления
                    </li>
                    <li>
                        Сейлор Железная Мышь
                    </li>
                    <li>
                        Сейлор Алюминиевая Сирена
                    </li>
                    <li>
                       Сейлор Свинцовая Ворона
                    </li>
                    <li>
                        Сейлор Оловянная Кошка
                    </li>
                    <li>
                        Сейлор Галаксия
                    </li>
                </ul>
  </div>
<hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s5.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s55.jpg' %}" class="card-img-top">
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/s555.jpg' %}" class="card-img-top" alt="...">
    </div>
  </div>
</div>
</main>
{% endblock %}